.map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}    

.legend {
    position: absolute;
    background-color : #fff;
    border-radius: 3px;
    bottom: 0;
    margin-bottom: 30px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 10px;
    right: 10px;
    z-index: 1,
}
.legend h4 {
    margin: 0 0 10px
}

.legend div span {
    display: inline-block;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-right: 5px;
}